# Xcode & Swift
DerivedData/
build/
*.xcuserdatad/
*.xcscmblueprint
*.xccheckout
*.xcworkspace/xcuserdata/

# SwiftPM
.swiftpm/
.build/

# Provisioning cruft (local only)
.provtmp/
*.mobileprovision
*.mobileprovision.plist

# macOS cruft
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Logs
*.log
